.Messages {
    min-height: 72vh;
    width: 100%;
    height: auto;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/messageBkgd.jpg');
    background-color: $color1;
    color: $color3;
}

.Messages_header {
    height: 10vh;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font2;
    // text-decoration: underline;
    // text-decoration-color: $color5;
}

.Messages_header>h3 {
    border-bottom: 2px solid $color5;
    padding-bottom: 5px;
}

.Message_list {
    height: 62vh;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
}

.Message_list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

.Message_list::-webkit-scrollbar-thumb {
    background: $color4; 
    border-radius: 10px;
}

.individual_message {
    @include flexSetUp(space-around, center, row)
}

.individual_message1 {
    color: $color3;
    opacity: 0.95;
    background-color: $color1;
    height: 15vh;
    width: 95%;
    border: 1px solid $color1;
    border-radius: 6px;
    margin: 2.5vw;
    box-shadow: 3px 3px 5px $color4;
    outline: none;
}

.link_to_chat {
    outline: none;
    text-decoration: none;
    color: $color4;
}

.messages_profile_icon {
    height: 75px;
    width: 75px;
    border-radius: 37.5px;
}

.messages_name {
    font-size: 18px;
}

.messages_time {
    align-self: flex-start;
    padding: 15px;
}

.messages_side {
    @include flexSetUp(space-around, center, column)
}

#profile-menu-show {
    height: 18vh;
    width: 40%;
    border-radius: 20px;
    background-color: $color1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    top: 7vh;
    right: 5vw;
}

#profile-menu-disable {
    display: none;
}

.nav-profile-links {
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
    color: $color5;
    margin: 5px;
}