.Messages {
    min-height: 72vh;
    width: 100%;
    height: auto;
    background-color: $color2;
    color: $color1
}

.Messages_header {
    height: 10vh;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Message_list {
    height: 62vh;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
}

.individual_message {
    height: 15vh;
    width: 95%;
    background-color: whitesmoke;
    border: 1px solid $color1;
    margin: 2.5vw;
    box-shadow: 3px 3px 5px $color4;
    @include flexSetUp(space-around, center, row)
}

.messages_profile_icon {
    height: 75px;
    width: 75px;
    border-radius: 37.5px;
}

.messages_name {
    font-size: 24px;
}

.messages_time {
    align-self: flex-start;
    padding: 15px;
}