
.toolview-top {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
}

.toolview-top-title {
    display: flex;
    
}

.toolview-pic img {
    display: flex;
    width: 80vw;
    
}

.toolview-price-rent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 80vw;
    height: 30px;
}

.toolview-calendar {
    width: 80vw;
}

.toolview-description {
    width: 97vw;
    height: 100px;
    margin: 0 auto;
    margin-top: 5px;
}

.toolview-additional {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 10px;
}

.toolview-map {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

.toolview-lower {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.toolview-bottom {
    margin-top: 30px;
}

.toolview-other {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.toolview-other div {
    width: 100px;
    height: 100px;
    background: gray;
    display: flex;
}


