.post-tool-section {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.post-tool-input {
    border: solid 1px black;
    width: 80%;
}

.post-tool-body {
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.post-tool-button {
    background-color: #fdd947;
    outline: none;
    border: none;
    width: 40%;
    height: 5%;
    font-size: 100%;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}