.chat-body {
    width: 100%;
    height: 95vh;
    background: $color1;
    @include flexSetUp(flex-start, center, column);
    border-bottom: 2px solid $color5;
}

.chat-messages {
    height: 70vh;
    width: 85%;
    background: $color3;
    border-radius: 8px;
    margin-top: 5vh;
    overflow-y: scroll;
    word-wrap: break-word;
    display: flex;
	flex-direction: column;
}

.chat-input {
    height: 15vh;
    width: 85%;
    margin-top: 5px;
    @include flexSetUp(space-around, center, row);
    text-align: center;
}

.chat-messages::-webkit-scrollbar {
    width: 10px;
}
 

.chat-messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

.chat-messages::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $color5; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.chat-messages::-webkit-scrollbar-thumb:window-inactive {
	background: $color5; 
}

.chat-inputBox {
    height: 40px;
    width: 190px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: $color1;
}

.chat-inputBox::placeholder {
    text-align: center;
    font-size: 15px;
}

.chat-send {
    height: 34px;

}

.chat-button {
    height: 34px;
    background: $color5;
    padding: 12px;
    border-radius: 50px;
    @include flexSetUp(space-around, center, row);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 5px;
    transition: 0.05s;
}

.chat-button:active {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    transform: translateY(3px);
}

