
.FAQ-component {
    width: 100%;
    min-height: 72vh;
    background: $color1;
    height: auto;
    @include flexSetUp(flex-start, center, column);
    border-bottom: 1 px solid $color5;
}
.FAQ-header {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: $color1;
    color: $color3;
    width: 100%;
    height: 10vh;    
}

.FAQ-questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.FAQ-individual-questions {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;

    
}
.FAQ-individual-questions:hover {
    cursor: pointer;
}
.FAQ-down-arrow {
    height: 25px;
    width: 25px;
}


.Q {
    height: 50px;
    width: 50px;
}
.actual-question {
    height: auto;
    width: 77%;
    z-index: 0;
    background: #fdd947;
    border-radius: 5px;
    padding: 12px;
    font-weight: bold;
}

.line {
    width: 80%;
    height: 1px;
    background-color: black;
    z-index: -1;
}

.answer-displayed {
    height: 125px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: fill;
    font-size: 18px;
    // font-weight: bold;
    opacity: 1;
    animation: dropdown .5s ease-in-out;
    margin-left: -40px;
    color: $color3;
    // z-index: -1;
    
}

.answer-not-displayed {
    display: none;
    animation: dropup .5s ;
}

.tac_link {
    margin: 2vh;
    text-decoration: underline;
    outline: none;
    color: $color3;
}

.fa-question {
    z-index: 2;
    color: #fdd947;
}


@keyframes dropdown {
    from  {height: 0px; opacity: 0;}
    to {height: 125px; opacity: 1;}
 }
 
 @keyframes dropup {
     from {height: 125px; opacity: 1;}
     to {height: 0px; opacity: 0;}
 }