.lister-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 100%;
    margin-top: -15%;
}

.lister-pic-link {
    display: flex;
    justify-content: center;
}

.lister-pic {
    border-radius: 50%;
    width: 33%;
    height: 33%;
    margin-bottom: 20%;
}

.lister-name {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 125%;
    display: flex;
    align-items: center;
    justify-content: center;
}
