.profile-page {
  padding: 3vw;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.685)), url('./assets/profileBkgd.jpeg');
  background-position-x: right;
  background-position-y: top;
  background-size: auto;
  background-attachment: fixed;
  min-height: 68.7vh;
}
.profile-userInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-userPic {
  border-radius: 50%;
  border: 3px solid $color5;
  height:23vh;
  width: 23vh;
}
.profile-userName {
  margin-top: 8px;
  font-size: 20px;
  background: $color5;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1px 4px;
  padding-top: 5px;
}
.profile-bio {
  position: relative;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 13px;
  background: #252525c4;
  min-height: 12vh;
  width: 88vw;
  word-wrap: break-word;
  border-radius: 3px;
  border: 2px outset gold;
}
.profile-bio span {
  color: $color3;
}
.profile-addTool {
  position: absolute;
  top: 15%;
  right: 4%;
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background: $color5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 13px 0px gold;
}
.profile-ratingsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile-toolsHeader {
  text-align: center;
  height: 10vh;
  margin-top: 12px;
  background: $color1;
  border-top: 5px solid $color4;
  border-radius: 25px 25px 0 0;
  position: relative;
}
.profile-toolsHeader p {
  font-family: $font1;
  font-size: 4vh;
  color: $color5;
  margin-top: 14px;
}
.profile-toolsOuterContainer {
  background: linear-gradient($color5, rgba(0, 0, 0, 0) 95%);
  overflow: hidden;
}
.profile-toolsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
  height: 38vh;
  width: 91.4vw;
  padding: 5px;
  transition: 400ms;
  flex-shrink: 0;
}
.profile-pageSlider {
  max-height: 38vh;
  display: flex;
}
.profile-timesRented {
  font-size: 14px;
}
.profile-editButton {
  position: absolute;
  right: 0;
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background: $color5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 13px 0px gold;
}
.profile-editButton img {
  height: 70%;
}
.profile-addTool img {
  height: 70%;
}
hr {
  background-color: $color5;
  height: 1px;
  border: 0;
  margin: 28px 16px;
}