.profile-page {
  padding: 3vw;
  background-color: lightslategray;
}
.profile-userInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-userPic {
  border-radius: 50%;
  border: 3px solid $color5;
  height:23vh;
  width: 23vh;
}
.profile-userName {
  margin-top: 8px;
  font-size: 20px;
}
.profile-bio {
  position: relative;
  padding: 5px;
  margin: 10px;
  background: lightgrey;
  min-height: 12vh;
  width: 91vw;
  word-wrap: break-word;
}
.profile-buttons {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}
.profile-buttons button {
  font-size: 16px;
  background: $color5;
}
.profile-ratingsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.profile-toolsHeader {
  text-align: center;
  height: 10vh;
  margin-top: 12px;
  background: $color1;
  border-top: 5px solid $color4;
  border-radius: 25px 25px 0 0;
}
.profile-toolsHeader span {
  font-family: $font1;
  font-size: 21px;
  color: $color5
}
.profile-toolsOuterContainer {
  background: linear-gradient($color5, black 100%);
  overflow: hidden;
}
.profile-toolsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 37vh;
  min-width: 91vw;
  padding: 5px;
  transition: 400ms;
}
.profile-tool {
  height: 45%;
  width: 45%;
  background: grey;
}
.profile-timesRented {
  font-size: 14px;
}