.profileEdit-page {
  position: relative;
  height: 95vh;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profileEdit-page span {
  width: 100%;
  text-align: center;
}
.profileEdit-nameContainer {
  margin-top: 2vh;
}
.profileEdit-input {
  border: 1px solid black;
  font-size: 21px;
}
.profileEdit-bioContainer {
  margin-top: 2vh;
}
.profileEdit-bio {
  resize: none;
  border: 1px solid black;
  font-size: 21px;
  height: 25vh;
  width: 92vw;
}
.profileEdit-emailContainer {
  margin-top: 2vh;
}
.profileEdit-phoneContainer {
  margin-top: 2vh;
}
.profileEdit-zipContainer {
  margin-top: 2vh;
}
.profileEdit-confirm {
  background-color: $color5;
  font-size: 21px;
  border-radius: 20px;
  padding: 3px 12px;
}
.profileEdit-buttonContainer {
  text-align: center;
  position: absolute;
  bottom: 11vh;
  width: 94%;
}

.profileDelete-buttonContainer {
  text-align: center;
  position: absolute;
  bottom: 3vh;
  width: 94%;
}

.profileEdit-span {
  font-size: 21px;
}