.profileEdit-page {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: $color1;
  color: $color3;
}
.profileEdit-input {
  border: none;
  background: transparent;
  padding-bottom: 6px;
  border-bottom: 1px solid $color5;
  width: 100%;
  transition: .6s ease-in-out;
  height: 2.3vh;
  margin-top: 0px;
  color: $color3;
  font-size: 16px;
  margin-top: 5px;
}
.profileEdit-input::placeholder {
    color: $color3;
}
.profileEdit-input:focus {
    color: $color3;
    margin-top: 10px;
    outline: none;
    font-size: 22px;
    padding-bottom: 10px;
}
.profileEdit-bio {
  background-color: $color1;
  color: $color3;
  resize: none;
  border: 1px solid $color5;
  font-size: 20px;
  height: 30vh;
  width: 100%;
  outline: none;
}
.profileEdit-confirm {
  background-color: $color1;
  outline: none;
  border: solid 1px $color5;
  color: $color3;
  width: 75%;
  height: 8vh;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.profileEdit-delete {
  background-color: $color1;
  outline: none;
  border: solid 1px red;
  color: $color3;
  width: 75%;
  height: 8vh;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.profileEdit-section {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.profileEdit-sectionDiv {
    width: 60%;
}
.profileEdit-inputText {
    color: $color3;
    text-align: left;
    margin-bottom: 0px;
}
.btn-danger {
  background-color: $color1;
  border-radius: 8px;
  border: 1px solid red;
  padding: 8px 12px;
  margin: 4px;
  outline: none;
  color: $color3;
  font-size: 16px;
}
.btn-success {
  background-color: $color1;
  border-radius: 8px;
  border: 1px solid $color5;
  padding: 8px 12px;
  margin: 4px;
  outline: none;
  color: $color3;
  font-size: 16px;
}
#swal2-title {
  color: $color3;
}
#swal2-content {
  color: $color3;
}