.tool-search-body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: none;
}

.search-bar {
    width: 90%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.search-bar-input {
    height: 80%;
    width: 95%;
    font-size: 100%;
}

.search-criteria {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}

.search-criteria-left-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
}

.search-criteria-right-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
}

.search-criteria-minor-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

.search-criteria-select {
    height: 40%;
    width: 80%;
    border: 1px solid black;
}

.search-filter-box {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: black 1px solid;
}

.search-filter-button {
    width: 10%;
    height: 100%;
    display: flex;
    margin-left: 20px
}

.tool-search-submit-box {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-search-button {
    width: 30%;
    height: 100%;
    background-color: #fdd947;
    outline: none;
}

.search-results-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}