.calendar-start input, .calendar-end input  {
    @include flexSetUp(flex-start, center, column);
    border: 1px solid $color5;
    color: $color3;
    background: $color1;
    width: 80%;
    height: 7vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    outline: none;
    font-size: 20px;
    text-align: center;
}

.calendar-dates {
    @include flexSetUp(center, center, column);
    margin: 10px;
    width: 100%
}

.calendar-start, .calendar-end {
    font-style: italic;
    font-family: sans-serif;
}