.checkout-page {
    background: $color1;
    color: $color3;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    border-bottom: 1px solid $color5;
}

.checkout-title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
    background: $color1;
}

.cart-midTitle {
    text-align: center;
}

.cart-top {
    @include flexSetUp(flex-start, center, column);
    text-align: center;
}

.cart-mid {
    @include flexSetUp(flex-start, center, column);
    text-align: center;
}

.cart-top>h3 {
    font-size: 25px;
}

.cart-mid>h3 {
    font-size: 25px;
}

.cart-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-lowerText {
    font-size: 20px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 5%;
}

.cart-lowerSection {
    @include flexSetUp(space-between, center, row);  
}

.cart-lowerButton {
    margin: 30px;
    border: 1px solid $color5;
    color: $color3;
    background: $color1;
    width:30%;
    height: 8vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    outline: none;
    font-size: 25px;
}

.cart-seller {
    border: 1px solid $color5;
    margin-top: 10px;
    border-radius: 100px;
}

.cart-toolPic {
    border: 1px solid $color5;
    border-radius: 4px;
}

.checkout-stripe {
    margin: 30px;
    border: 1px solid $color5;
    color: $color3;
    background: $color1;
    width: 75%;
    height: 8vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    outline: none;
    font-size: 25px;
}

.checkout-stripe-and-cancel {
 
    
}

.checkout-cancel button {
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    height: 25px;
    display: flex;
    padding-left: 29px;
    width: 95px;
    font-size: 14px;
    border-radius: 4px;
    background-image: linear-gradient(rgb(255, 166, 166), rgb(253, 72, 72) 85%, rgb(255, 20, 20));
    color: white;
    box-shadow: rgba(42, 255, 35, 0.25) 0px 1px 0px inset;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;

}

button {
    margin: -35px 0px;
}

.checkout-cancel {
    margin: 55px 29px;
}