.profileToolCard-card {
  position: relative;
  height: 45%;
  width: 45%;
  box-shadow: 0px 0px 20px 1px black;
  border-radius: 10px;
}
.profileToolCard-image {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.profileToolCard-cardShade {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(transparent 45%, #00000069 118%);
}
.profileToolCard-cardTitle {
  position: absolute;
  bottom: 0;
  left: 5px;
  font-size: 13px;
  background-color: white;
  border-radius: 13px;
}
.profileToolCard-cardPrice {
  position: absolute;
  left: 4px;
  top: 1px;
}