
.home-button {
    border: none;
    border-radius: 6px;
    background: $color5;
    color: $color1;
    height: 35px;
    width: 160px;
    font-size: 18px;
}

.home-button:hover {
    border: 1px solid $color5;
    background: $color3;
    color: $color1;
    cursor: pointer;
}

.home-headbutt {
    width: 100%;
    height: 20vh;
    @include flexSetUp(center, center, column);
}



.home-main {
    text-align: center;
}

.home-header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/homeHeaderBkgd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flexSetUp(space-around, center, column);
    height: 100vh;
    width: 100%;
    color: white;
    margin: 0;
}

.home-header-1 {
    font-size: 40px;
}

.home-header-2 {
    font-size: 25px;
    font-family: $font2;
}
.home-icons {
    @include flexSetUp(space-around, center, column);
    animation: float 3.9s ease-in-out infinite;
}

.home-icon1 {
    height: 45px;
    margin-bottom: 5px;
}

.home-icon2 {
    height: 40px;
    margin-bottom: 10px;
    padding: 7.5px;
    border: 2px solid $color5;
    border-radius: 50px;
}
.home-exampleCard {
    @include flexSetUp(space-around, center, row);
    height: 15%;
    width: 80%;
    background: $color3;
    border-radius: 6px;
}

.home-examplePic {
    height: 130px;
    width: 130px;
    border: 1px solid $color1;
    border-radius: 3px;
}

.home-exampleTitle {
    font-size: 23px;
    margin: 5px;
    color: $color1;
    border-bottom: solid 2px $color5;
}

.home-titleBox{
    height: auto;
    width: auto;
    
}

.home-tool {
    font-size: 16px;
}

.home-tool1 {
    font-size: 18px;
}

.home-exampleRight {
    @include flexSetUp(space-around, flex-start, column);
    color: $color1;
}

.home-searchBar {
    @include flexSetUp(space-around, center, column);
    height: 270vh;
    width: 100%;
    background: $color1;
    margin: 0;
}

.home-searchTop {
    color: white;
    font-size: 35px;
    margin-bottom: 0px;
}

.home-Link {
    text-decoration: none;
    outline: none;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
    overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
    padding: 14px 15px;
    z-index: 5;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}


a.animated-button.gibson-two {
	border: 2px solid #fdd947;
	color: #FFF;
}

a.animated-button.gibson-two:after {
    
	opacity: 0;
	background-image: -webkit-linear-gradient( transparent 50%, #fdd947 50%);
	background-image: -moz-linear-gradient(transparent 50%, #fdd947 50%);
	background-size: 10px 10px;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.gibson-two:hover:after {
	height: 600% !important;
    opacity: 1;
    
}

a.animated-button.gibson-two:hover {
    z-index: 4;
    
}

.home-steps {
    @include flexSetUp(space-around, center, column);
    height: 400vh;
    width: 100%;
    background: linear-gradient(to top, $color2, $color1);
    margin: 0;
}

.steps-text {
    color: $color3;
    font-size: 30px;
}

.steps-icon {
    height: 60px;
}

.home-dude {
    height: 300px;
    margin: 0;
}

.home-car {
    height: 300px;
    margin: 0;
    animation: floatcar 3.5s ease-in-out infinite;
}

.home-lady {
    height: 250px;
    margin: 0;
}

.steps-section {
    @include flexSetUp(space-around, center, row);
    width: 90%;
    
}

.home-signup {
    background: linear-gradient( rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('./assets/signupBkgd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flexSetUp(space-around, center, column);
    width: 100%;
    height: 45vh;
}

.home-signupText {
    font-size: 30px;
    color: $color3;
    margin-bottom: 0;
}

.home-safe {
    @include flexSetUp(space-around, center, column);
    height: 140vh;
    width: 100%;
    background: $color1;
    color: $color5;
}

.home-safeText {
    font-size: 27px;
}

.home-mid {
    width: 85%;
    @include flexSetUp(flex-start, center, column);
}

.home-iconTitle {
    font-size: 24px;
    text-align: left;
    color: $color3;
}

.home-iconText {
    text-align: left;
    font-size: 18px;
}

.home-iconBox {
    height: 50px;
    width: 50px;
    background: $color5;
    border-radius: 8px;
    @include flexSetUp(space-around, center, column);
    margin-right: 10px;
}

.home-icon {
    height: 35px;
}

.home-iconRight {
    @include flexSetUp(flex-start, center, row);
    width: 75vw;
    height: auto;
}

.home-rentalLink {
    color: white;
}

.home-rentalLink:hover {
    cursor: pointer;
}

.home-contact {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/homeContactBkgd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flexSetUp(space-around, center, column);
    height: 95vh;
    width: 100%;
    margin: 0;
}

.home-input1 {
    border: none;
    background: transparent;
    padding-bottom: 10px;
    border-bottom: 1px solid $color5;
    width: 100%;
    transition: .6s ease-in-out;
    height: 2vh;
    margin-top: 0px;
}

.home-input1::placeholder {
    color: $color3;
}

.home-input1:focus {
    color: $color3;
    // transform: scaleY(3.5);
    margin-top: 30px;
    outline: none;
    font-size: 23px;
}



.home-inputText {
    color: $color3;
    text-align: left;
    margin-bottom: 0px;
}



.home-contactText {
    color: $color3;
}

.home-contactDiv {
    width: 60%;
}


@keyframes float {
    0% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow:  rgba(0,0,0,0.2);
      transform: translatey(-25px);
    }
    100% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

  @keyframes floatcar {
    0% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatex(25px);
    }
    50% {
      box-shadow:  rgba(0,0,0,0.2);
      transform: translatex(-25px);
    }
    100% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatex(25px);
    }
  }