.home-main {
    text-align: center;
}

.home-header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2016/02/19/11/32/tools-1209764_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: white;
}

// .home-headerText {
//     font-family: $font1;
// }