
.home-button {
    border: none;
    border-radius: 6px;
    background: $color5;
    color: $color1;
    height: 35px;
    width: 160px;
    font-size: 18px;
}

.home-button:hover {
    border: 1px solid $color5;
    background: $color3;
    color: $color1;
    cursor: pointer;
}

.home-headbutt {
    width: 100%;
    height: 20vh;
    @include flexSetUp(center, center, column);
}

.header-logo {
    height: 105px;
    border-radius: 50px;
    background: white;
    margin-bottom: 0;
    margin-top: 10px;
}

.home-main {
    text-align: center;
}

.home-header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/homeHeaderBkgd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flexSetUp(space-around, center, column);
    height: 90vh;
    width: 100%;
    color: white;
    margin: 0;
}

.home-header-1 {
    font-size: 40px;
}

.home-header-2 {
    font-size: 25px;
    font-family: $font2;
}
.home-icons {
    @include flexSetUp(space-around, center, column);
    animation: float 3.9s ease-in-out infinite;
}

.home-icon1 {
    height: 45px;
    margin-bottom: 5px;
}

.home-icon2 {
    height: 40px;
    margin-bottom: 10px;
    padding: 7.5px;
    border: 2px solid $color5;
    border-radius: 50px;
}
.home-exampleCard {
    @include flexSetUp(space-around, center, row);
    background: $color3;
    border-radius: 6px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.home-toolLink {
    outline: none;
    text-decoration: none;
    height: 12%;
    width: 80%;
    margin: 0;
    padding: 0;
}

.home-examplePic {
    height: 130px;
    width: 130px;
    border: 1px solid $color1;
    border-radius: 3px;
}

.home-exampleTitle {
    font-size: 23px;
    margin: 5px;
    color: $color1;
    border-bottom: solid 2px $color5;
}

.home-titleBox{
    height: auto;
    width: auto;
    
}

.home-tool {
    font-size: 16px;
}

.home-tool1 {
    font-size: 18px;
}

.home-exampleRight {
    @include flexSetUp(space-around, flex-start, column);
    color: $color1;
}

.home-searchBar {
    @include flexSetUp(space-around, center, column);
    height: 270vh;
    width: 100%;
    background: $color1;
    margin: 0;
}

.home-searchTop {
    color: white;
    font-size: 35px;
    margin-bottom: 0px;
}

.home-Link {
    text-decoration: none;
    outline: none;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
    overflow: hidden;
	letter-spacing: .08em;
	border-radius: 2px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
    transition: all 1s ease;
    border: 1px solid $color5;
}

.home-steps {
    @include flexSetUp(flex-start, center, column);
    height: 390vh;
    width: 100%;
    background: linear-gradient(to top, $color2, $color1);
    margin: 0;
}

.steps-text {
    color: $color3;
    font-size: 30px;
}

.home-aboutText {
    font-size: 22px;
    width: 100%;
    height: 50vh;
    color: $color3;
    @include flexSetUp(flex-start, center, column);
    text-align: fill;
}


.steps-icon {
    height: 60px;
}

.home-dude {
    height: 280px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 25px;
}

.home-dude1 {
    height: 195px;
    margin: 0;
    padding: 0;
    position: absolute;
    animation: rotatedude 1.9s ease-in-out infinite;
}

.home-dude2 {
    height: 215px;
    margin-top: 28px;
    padding: 0;
    position: absolute;
    animation: bouncedude 1.9s ease infinite;

}

.home-dude3 {
    height: 215px;
    margin: 0;
    padding: 0;
    position: absolute;
    animation: floatdude 2.2s ease-in-out infinite;
}

.home-dude4 {
    height: 196px;
    margin: 0;
    padding: 0;
    position: absolute;
    animation: hammerdude 2s ease-in-out infinite;
}

.home-tree {
    height: 225px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.home-fireworks {
    height: 180px;
    padding-bottom: 100px;
    padding-left: 20px;
    position: absolute;
    z-index: 1;
}

.home-car {
    height: 300px;
    margin-top: 38px;
    animation: floatcar 3.5s ease-in-out infinite;
    overflow-x: hidden;
    position: absolute;
}

.steps-section {
    @include flexSetUp(flex-end, center, column);
    width: 90%;
    height: 50vh;
}

.home-signup {
    background: linear-gradient( rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('./assets/signupBkgd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flexSetUp(space-around, center, column);
    width: 100%;
    height: 45vh;
}

.home-signupText {
    font-size: 30px;
    color: $color3;
    margin-bottom: 0;
}

.home-safe {
    @include flexSetUp(space-around, center, column);
    height: 170vh;
    width: 100%;
    background: $color1;
    color: $color5;
}

.home-safeText {
    font-size: 27px;
    width: 95%;
}

.home-mid {
    width: 80%;
    @include flexSetUp(flex-start, center, column);
}

.home-iconTitle {
    font-size: 24px;
    text-align: left;
    color: $color3;
}

.home-iconText {
    text-align: left;
    font-size: 18px;
}

.home-iconBox {
    height: 50px;
    width: 50px;
    background: $color5;
    border-radius: 8px;
    @include flexSetUp(space-around, center, column);
    margin-right: 10px;
}

.home-icon {
    height: 35px;
}

.home-iconRight {
    @include flexSetUp(flex-start, center, row);
    width: 75vw;
    height: auto;
}

.home-rentalLink {
    color: white;
}

.home-rentalLink:hover {
    cursor: pointer;
}

.home-contact {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/homeContactBkgd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flexSetUp(space-around, center, column);
    height: 95vh;
    width: 100%;
    margin: 0;
}

.home-input1 {
    border: none;
    background: transparent;
    padding-bottom: 10px;
    border-bottom: 1px solid $color5;
    width: 100%;
    transition: .6s ease-in-out;
    height: 2.3vh;
    padding-top: 10px;
    color: $color3;
    font-size: 12px;
}

.home-input1::placeholder {
    color: $color3;
}

.home-input1:focus {
    color: $color3;
    // transform: scaleY(3.5);
    padding-top: 30px;
    outline: none;
    font-size: 20px;
}



.home-inputText {
    color: $color3;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}



.home-contactText {
    color: $color3;
}

.home-contactDiv {
    width: 60%;
}

.FAQ-home {
    font-size: 22px;
    color: $color3;
    margin-top: 20px;
}




@keyframes float {
    0% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow:  rgba(0,0,0,0.2);
      transform: translatey(-25px);
    }
    100% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }

  @keyframes floatcar {
    0% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatex(20px);
    }
    50% {
      box-shadow:  rgba(0,0,0,0.2);
      transform: translatex(-20px);
    }
    100% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatex(20px);
    }
  }

  @keyframes floatdude {
    0% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatex(3px) translatey(2.5px) ;

    }
    50% {
      box-shadow:  rgba(0,0,0,0.2);
      transform: translatex(-3px) translatey(-2.5px) ;
    }
    100% {
      box-shadow: rgba(0,0,0,0.6);
      transform: translatex(3px) translatey(2.5px);

    }
  }

  @keyframes hammerdude {
    0% {
        transform: translatex(2px) rotate(3deg);
        
    }
    50% {
        transform: translatex(-2px) rotate(-3deg);
    }
    100% {
        transform: translatex(2px) rotate(3deg);
    }
  }

  @keyframes rotatedude {
    0% {
        transform: rotate(2deg);
        
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
  }

  @keyframes bouncedude {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(5px);
    }
    100% {
        transform: translatey(0px);

    }
  }