@import url("https://fonts.googleapis.com/css?family=Montserrat");
.FAQ_component .FAQ-header {
  font-size: 48px; }

.home-main {
  text-align: center; }

.home-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2014/10/22/16/39/tools-498202_1280.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: white; }

.navBar {
  background-color: grey;
  width: 100%;
  height: 10vh; }

.profilePage {
  padding: 12px; }

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.profilePic {
  border: 1px dotted black;
  height: 125px; }

.bio {
  border: 1px solid black;
  background-color: lightgrey;
  height: 125px;
  width: 208px; }

.userName {
  font-size: 19px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
