@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'https://fonts.googleapis.com/css?family=Rubik+One';

$color1: #252525;
$color2: #979797;
$color3: #ffffff;
$color4: #444444;
$color5: #fdd947;

$font1: 'Montserrat', sans-serif;
$font2: 'Lato', sans-serif;

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexSetUp($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction
}

//implementation

// .flex {
//   @include flexSetUp(space-around, center);
//   @include width-height(800px, 150px);
//   background: blue;
//   margin: auto;
// }

// .flex-item {
//   @include width-height(120px, 120px);
//   background: $primary-color;
// }


@import "components/FAQ/_FAQ.scss";
@import "components/Home/_Home.scss";
@import "components/Profile/_Profile.scss";
@import "components/Toolview/_Toolview.scss";
@import "components/Lister/_Lister.scss";
@import "components/ToolSearch/_ToolSearch.scss";
@import "components/ToolSearchCard/_ToolSearchCard.scss";
@import "components/Footer/_Footer.scss";
@import "components/Nav/_Nav.scss";
@import "components/StarRating/_StarRating.scss";
@import "components/Contact/_Contact.scss";
@import "components/Chat/_Chat.scss";
@import "components/Messages/_Messages.scss";
@import "components/Chat/Chatbox/_Chatbox.scss";
@import "components/ProfileToolCard/_ProfileToolCard.scss";
@import "components/Home/HomeButton/_Button.scss";
@import "components/PostTool/_PostTool.scss";
@import "components/ProfileEdit/_ProfileEdit.scss";
@import "components/ToS/_ToS.scss";
@import "components/RentalAgreement/_RentalAgreement.scss";


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}