.chat-avatar1 {
    height: 60px;
    width: 60px;
    border-radius: 35px;
    margin: 5px;
    border: 2px solid $color4;
}

.chat-avatar2 {
    height: 60px;
    width: 60px;
    border-radius: 35px;
    margin: 5px;
    border: 2px solid $color5;
}

.chat-date {
    font-size: 12px;
    color: $color1;
    margin: 0;
    top: 0;
    bottom: 0;
    box-sizing: 0;
    padding: 0;
}

.chat-date>p {
    margin: 0;
    top: 0;
    bottom: 0;
    box-sizing: 0;
    padding: 0;
}

.chat-userChat2 {
    height: auto;
    width: 96%;    
    @include flexSetUp(flex-start, flex-start, row);
    margin: 5px;
    color: $color4;
}

.chat-userChat1 {
    height: auto;
    width: 96%;    
    @include flexSetUp(flex-end, flex-start, row);
    margin: 5px;
    color: $color4;
}



.chat-right1 {
    @include flexSetUp(flex-start, flex-start, column);
    margin-left: 5px;
    background: $color5;
    height: auto;
    width: 70%;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid $color4;
}

.chat-right2 {
    @include flexSetUp(flex-start, flex-start, column);
    margin-left: 5px;
    background: $color5;
    height: auto;
    width: 70%;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid $color4;
}

.chat-username {
    font-size: 16px; 
    color: $color1;
    margin: 0;
    top: 0;
    bottom: 0;
    box-sizing: 0;
    padding: 3px;
}

.chat-username>p {
    margin: 0;
    top: 0;
    bottom: 0;
    box-sizing: 0;
    padding: 0;
    margin-bottom: 5px;
}

.chat-message {
    font-size: 16px;
}

.chat-side {
    @include flexSetUp(flex-start, center, column);
    text-align: center;
    margin: 0;
    top: 0;
    bottom: 0;
    box-sizing: 0;
    padding: 0;
}