
body {
  margin: 0;
  padding: 0;

}
 
 .nav-links {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 .nav-links:hover {
   color: whitesmoke;
   cursor: pointer;
 }

 .nav-bar {
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: #fdd947;
    position: sticky;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }
 
 #menuToggle {
   display: block;
   position: fixed;
   top: 3%;
   left: 5%;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; 
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }
 
 #menuToggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: $color1;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
 }
 
 #menuToggle span:first-child {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #fdd947;
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 #menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu {
   position: absolute;
   width: 310px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background: #232323;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-150%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li {
   padding: 10px 0;
   font-size: 22px;
   color: #fdd947;
 }

#menuToggle input:checked ~ ul {
  transform: none;
}

 #menuToggle {
   display: block;
   position: fixed;
   top: 3%;
   left: 5%;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; 
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }
 
 #menuToggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: $color1;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
 }
 
 #menuToggle span:first-child {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
 }
 
 #menuToggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #fdd947;
 }
 
 #menuToggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 #menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu {
   position: absolute;
   width: 310px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background: #232323;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-150%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li {
   padding: 10px 0;
   font-size: 22px;
   color: #fdd947;
 }

#menuToggle input:checked ~ ul {
  transform: none;
}

.nav_profile_icon {
  height: 45px;
  width: 45px;
  border-radius: 40px;
  margin: 15px;
  border: 1px solid $color1;
  z-index: 999;
}

.nav_profile_icon:hover {
  cursor: pointer;
}

.nav_register_link {
  color: $color1;
  padding: 15px;
  z-index: 999;
}

.nav_register_link:hover {
  cursor: pointer;
}

.nav-title {
  color: $color1;
  font-family: 'Bangers', cursive;
  text-align: center;
  margin-right: 20%;
  font-size: 28px;
}

.middle-nav {
  width: 83vw;
  position: absolute;
  text-align: center;
}

