.nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
}

.nav-link {
    color: #fdd947;
    margin: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
}
